.heading1 {
    text-align: center;
    color: black;
    font-size: 60px;
}

.container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between; 
}

body {
    background-color: grey;
}

img {
    padding: 5px;
    width: 400px;
    height: 300px;
}

